:root {
    --menu-toggle-distance: -70%;
}

main {
    background-image: url("./../assets/img/temp.jpg");
    background-position: center 0%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 2;
    transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
  }

#nav-toggle {
    height: 5rem;
    width: 5rem;
    position: fixed;
    z-index: 15;
    left: 50%;
    bottom: 3rem;
    transform: translate(-50%);
    background-color: #0BCA75;
    border: none;
    border-radius: 5rem;
    outline: none;
    box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 400ms;
}

#nav-toggle:hover {
    transform: translateX(-50%) scale(1.04);
}

#nav-toggle:active {
    transform: translateX(-50%) scale(0.96)
}

body:not([data-nav="true"])>#nav-toggle:hover>.open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

#nav-toggle>img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    color: rgb(246, 231, 224);
    font-size: 1.75rem;
    opacity: 0;
    transition: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 400ms;
    filter: invert(100%) sepia(0%) saturate(1352%) hue-rotate(0deg) brightness(119%) contrast(119%);
}

body[data-nav="true"]>#nav-toggle>.close {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"]>main {
    transform: translateY(var(--menu-toggle-distance));
}

main {
    transition: transform 500ms cubic-bezier(.13, .53, .38, .97);
}