:root {
    --g1: #0B75BCEE;
    --g2: #0BCACAEE;
    --g3: #0BCA75EE;

    --selected-highlight: #C1C1C1;

    --inner-border-radius: 20px;
    --selection-border-radius: 6px;
}

/*Define the navigations space where we place the track*/
nav.track-nav {
    height: 100vh;
    width: 100vh;
    margin: 0rem;
    overflow: none;
}

/*Define the track the cards will rest on*/
div#image-track {
    position: absolute;
    display: flex;
    gap: 4vmin;
    left: 50%;
    top: 65%;
}

/*Define our cards*/
div#image-track>.track-card {
    aspect-ratio: 1 / 1.3;
    position:relative;
    height: calc(65vmin);

    cursor: pointer;
    object-position: center;
}

/*Scale the image so it fits our card*/
div#image-track>.track-card>.track-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: relative;

    border-radius: var(--inner-border-radius);
}

/*Define our cards' gradient effect*/
div#image-track>.track-card::before {
    /*Size and position our card*/
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;

    /*Define the gradient effect*/
    background: linear-gradient(
        130deg,
        transparent 0%, 33%,
        var(--g1) 66%,
        var(--g2) 83.5%,
        var(--g3) 100%
    );

    /*Set the transition for the gradient*/
    transition: background-position 400ms ease;

    /*Set the layer for the gradient to be above card image*/
    /*z-index: 1;*/

    /*Shift the gradient off of the element entirely*/
    background-size: 500%;
    background-position: 0% 0%;

}

/*Trigger our cards' gradient effect when the card is hvoered*/
div#image-track>.track-card:hover::before {
    transform: scale(1.05);

    background-position: 100%, 100%;

    border: var(--selected-highlight) 1px solid;
    border-radius: var(--selection-border-radius);
}

/*Define the dots overlay for our cards*/
div#image-track>.track-card>.card-dots {
    background: radial-gradient(
        rgba(255, 255, 255, 0.4) 8%,
        transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: 100%;
    width: 100%;

    transform: translateY(-100%);

    /*Set the transition for the dots*/
    transition: background-position 400ms ease;
}

/*Trigger our cards' dots overlay when the card is hovered*/
div#image-track>.track-card:hover>.card-dots {
    background-position: 110% 110%;
    /*Set the layer for the dots to be above the gradient*/
    z-index: 2;
}

div#image-track>.track-card>.card-dots>.card-title-text {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5vmin;
    color: white;

    z-index: 500;
}